<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <title>Inicio</title>
</head>

<!-- ANIMACIÓN PARA MENÚ -->
<style>
    .link-animate:hover{
        color: gray !important;
        animation: animate 0.5s;
    }

    @keyframes animate{
        0%{
            scale: 1;
        }
        50%{
            scale: 0.9;
        }
        100%{
            scale: 1;
        }
    }
</style>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="link-animate navbar-brand text-light font-weight-bold" href="{{url_for('index') }}">GESTIÓN DE EMPLEADOS</a>
        <button class="navbar-toggler" data-target="#my-nav" data-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="link-animate nav-link" href="{{url_for('index') }}">EMPLEADOS<span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">